<div>
    <div class="modal-header">
        <h3 class="modal-title text-center bg-danger" id="modal-title"><b>Delete List</b></h3>
    </div>

        <div class="modal-body text-center" id="modal-body">
           <h5>Deleting this list could not be undone.</h5>
           <h4>Are You Sure?</h4>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary btn-sm" ng-click="ctrl.save()"> I'm Sure</button>
            <button class="btn btn-warning btn-sm" ng-click="ctrl.cancel()">Cancel</button>
        </div>
</div>