<div class="todoModel">
    {{ctrl|json}}
    <div class="modal-header">
        <h3 class="modal-title text-center bg-primary" id="modal-title"><b>Edit Todo</b></h3>
    </div>

    <div class="modal-body" id="modal-body">
        <input class="form-control form-control-sm" type="text" ng-model="ctrl.todoObj.todo.title">
        <br><br>
        Details: <br>
        <textarea class="form-control" ng-model="ctrl.todoObj.todo.details"></textarea>

        <br><br>
        Created on: <br>{{ctrl.todoObj.todo.created}}
    </div>

    <div class="modal-footer">
        <button class="btn  btn-danger btn-sm" type="button" ng-click="ctrl.deleteTodo()">Delete todo</button>
        <button class="btn btn-primary btn-sm" type="button" ng-click="ctrl.save()">Save changes</button>
        <button class="btn btn-warning btn-sm" type="button" ng-click="ctrl.cancel()">Cancel</button>
    </div>

</div>