<div class="todoModel">
    {{ctrl.todoObj.todo.location}}
    <div class="modal-header">
        <h3 class="modal-title text-center bg-primary" id="modal-title"><b>Edit Item</b></h3>
    </div>

    <div class="modal-body" id="modal-body">
        <h4><b>Title:</b></h4>
        <input class="form-control form-control-sm" type="text" ng-model="ctrl.todoObj.todo.title" ng-click="ctrl.select($event)">
        <br><br>

        <h4><b>location:</b></h4>

        <b><i>{{ctrl.todoObj.todo.location.location}}</i></b>
        <br>
        <a href="{{ctrl.todoObj.todo.location.url}}" target="_blank">show on Google Maps</a>
        <input class="form-control high-z-index" google-places placeholder="Google Places..." location="ctrl.todoObj.todo.location">
        <br><br>

        <h4><b>Details:</b></h4>
        <textarea class="form-control" ng-model="ctrl.todoObj.todo.details"></textarea>
        <br><br>

        <b>Created on:</b> <br>{{ctrl.todoObj.todo.created}}
    </div>

    <div class="modal-footer">
        <button class="btn  btn-danger btn-sm" type="button" ng-click="ctrl.deleteTodo()">Delete todo</button>
        <button class="btn btn-primary btn-sm" type="button" ng-click="ctrl.save()">Save changes</button>
        <button class="btn btn-warning btn-sm" type="button" ng-click="ctrl.cancel()">Cancel</button>
    </div>


</div>