<div class="animated slideInRight list-container ">
    <h2 class="bg-list-name text-center border-radius-4 padding-5 Aclonica"><b>{{ctrl.currList.title}}</b></h2>
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group">
                        <span class="input-group-btn">
                             <button class="btn btn-default" type="button"
                                     ng-click="ctrl.addNewTodo(ctrl.newTodo)">Add</button>
                        </span>
                <input type="text" class="form-control width-80" ng-model='ctrl.newTodo'
                       placeholder="I need to..." ng-keyup="$event.keyCode == 13 && ctrl.addNewTodo(ctrl.newTodo)"/>
            </div>
        </div>
    </div>
    <input type="text" class="form-control width-40" ng-model="search.title"
           placeholder="search to-do.."/>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Title</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody class="example-animate-container">
        <tr class="animate-repeat" on-repeat-done
            ng-repeat="todo in ctrl.currList.todos | orderBy: 'completed' | filter: search">
            <td><input type="checkbox" id="{{todo.id}}" ng-model="todo.completed" ng-change="ctrl.completeTodo()">
                <label class="inline" for="{{todo.id}}">
                    <span uib-tooltip="{{todo.details}}" tooltip-placement="buttom" tooltip-class="customClass"
                          class="Aclonica font-size-md" ng-class="{lineThrough: todo.completed}">  {{todo.title}}</span>
                </label></td>
            <td><span role="button" class="glyphicon glyphicon-pencil"
                      ng-click="ctrl.openEditTodoModal({todo: todo, firstListId: ctrl.currList.id})"></span></td>
            <td><span role="button" class="glyphicon glyphicon-remove-sign"
                      ng-click="ctrl.deleteTodo($index, ctrl.currList.id)"></span></td>
        </tr>
        </tbody>
    </table>

    <hr>
    <button class="btn btn-default"
            ng-click="ctrl.renameList({newListTitle: ctrl.currList.title, listId: ctrl.currList.id})">Rename List
    </button>
    <button class="btn btn-danger" ng-click="ctrl.openConfirmDeleteModal()">Delete List</button>
    <hr>
</div>