<div class="container-fluid">
    <div class="row ">
        <div class="animated slideInLeft col-xs-12 col-sm-5 col-lg-3 list-display ">
            <br>
            <div class="input-group">
                        <span class="input-group-btn">
                             <button class="btn btn-default" type="button"
                                     ng-click="ctrl.addNewList({newListTitle: ctrl.newListTitle})">Add</button>
                        </span>
                <input type="text" class="form-control width-80" ng-model='ctrl.newListTitle'
                       placeholder="Add a new list.."
                       ng-keyup="$event.keyCode == 13 && ctrl.addNewList({newListTitle: ctrl.newListTitle})"/>
            </div>
            <br><br>
            <h3 class="text-center text-danger" ng-if="ctrl.userLists.length < 1"> There are no existing lists </h3>

            <div ng-repeat="list in ctrl.userLists">
                <button type="button" id="{{list.id}}" class="btn btn-primary btn-block text-left"
                        ng-click="ctrl.openList(list.id)">{{list.title}}
                </button>
            </div>
        </div>

        <div id="list" class="animated slideInRight col-xs-12 col-sm-7 col-lg-9 " ui-view></div>
    </div>
</div>
