<div class="container-fluid">
    <div class="row ">
        <div class="col-xs-12 col-sm-5 col-lg-3 lists-list ">
            <br>
            <div class="row">
                    <div class="col-xs-9 no-padding-right">
                        <input type="text" class="form-control form-control-sm" ng-model='ctrl.newListTitle'
                               placeholder="Add a new list:"
                               ng-keyup="$event.keyCode == 13 && ctrl.addNewList({newListTitle: ctrl.newListTitle})" />
                    </div>

                    <div class="col-xs-3 no-padding-left">
                        <button class="btn btn-default btn-sm"
                                ng-click="ctrl.addNewList({newListTitle: ctrl.newListTitle})">Add list
                        </button>
                    </div>
            </div>
            <hr>
            <h3 class="text-center text-danger" ng-if="ctrl.userLists.length < 1"> There are no existing lists </h3>

            <div ng-repeat="list in ctrl.userLists">
                <button type="button" id="{{list.id}}" class="btn btn-primary btn-block text-left"
                        ng-click="ctrl.openList(list.id)">{{list.title}}
                </button>
            </div>
        </div>

        <div class="col-xs-12 col-sm-7 col-lg-9 curr-list" ui-view></div>
    </div>
</div>
