<div>
    <br>
    <div ng-if="ctrl.userLists.length < 1" class="list-container Aclonica">
        <h1> There are no existing lists </h1>
        <h3> add a new list in "Home" tab </h3>
    </div>

    <div ng-if="ctrl.userLists.length>0" class="container-fluid">
        <!--<input  type="text" class="form-control width-40" ng-model="search.title"-->
        <input type="text" class="form-control width-40" ng-model="search.title"
               placeholder="search to-do.."/>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3 "
                 ng-repeat="list in ctrl.userLists">
              <div class="list-container">

                <h3 class="bg-list-name text-center border-radius-4 padding-5 Aclonica">{{list.title}}</h3>
                <button class="btn btn-default btn-sm" ng-click="ctrl.addNewTodo(ctrl.newTodo[$index],$index)">+
                </button>
                <input type="text" class="form-control width-80" ng-model="ctrl.newTodo[$index]"
                       placeholder="Add a new to-do:"
                       ng-keyup="$event.keyCode == 13 && ctrl.addNewTodo(ctrl.newTodo[$index],$index)"/>
                <br><br>
                <div on-repeat-done ng-repeat="todo in list.todos | orderBy: 'completed' | filter: search">
                    <span role="button" class="glyphicon glyphicon-remove-sign"
                          ng-click="ctrl.deleteTodo($index, list.id)"></span>
                    <span role="button" class="glyphicon glyphicon-pencil"
                          ng-click="ctrl.openEditTodoModal({todo: todo, firstListId: list.id})"></span>
                    <input type="checkbox" id="{{todo.id}}" ng-model="todo.completed"
                           ng-change="ctrl.completeTodo()">
                    <label for="{{todo.id}}">
                        <span uib-tooltip="{{todo.details}}" tooltip-placement="buttom" tooltip-class="customClass"
                              class="Aclonica font-size-md"
                              ng-class="{lineThrough: todo.completed}">{{todo.title}} </span>
                    </label>
                </div>
                <br>
                <button class="btn btn-default btn-xs"
                        ng-click="ctrl.renameList({newListTitle: list.title, listId: list.id})">Rename List
                </button>
                <button class="btn btn-danger btn-xs" ng-click="ctrl.openConfirmDeleteModal(list.id)">Delete List</button>
              </div>

            </div>
        </div>
    </div>
</div>