<div class="blocks">
    <div ng-repeat="list in ctrl.userLists">
        <div class="block">
            <div class="center">{{list.title}}</div>
            <input type="text" class="form-control form-control-sm" ng-model="ctrl.newTodo[$index]"
                   placeholder="Add a new to-do:" ng-keyup="$event.keyCode == 13 && ctrl.addNewTodo(ctrl.newTodo[$index],$index)" />
            <button class="btn btn-default btn-sm" ng-click="ctrl.addNewTodo(ctrl.newTodo[$index],$index)">Add to-do</button>
            <div ng-repeat="todo in list.todos">
                <input type="checkbox" ng-model="todo.completed" ng-change="ctrl.completeTodo()" >
                <span ng-class="{strike: todo.completed}" ng-dblclick="ctrl.editTodo(todo, $index, $parent.$index)">
                {{todo.title}} <span id="daysCount">{{todo.daysPassed}}</span></span>
            </div>
        </div>
    </div>
</div>