<div class="login">
    <div class="login-main">
        <form>
            <div ng-show="true">
                <input class="form-control form-control-sm" ng-model="ctrl.user.email" placeholder="Email" type="text"/>
                <!-- todo: animate ngif  -->
                <br>
                <input class="form-control form-control-sm" ng-model="ctrl.user.password" placeholder="Password"
                       ng-keyup="$event.keyCode == 13 && ctrl.loginUser(ctrl.user.email,ctrl.user.password)" type="text"/>
                <br>
                <button class="btn btn-primary" type="button"
                        ng-click="ctrl.authenticateUser(ctrl.user.email,ctrl.user.password)">Login
                </button>
            </div>

            <div ng-show="true">
                <input class="form-control form-control-sm" ng-model="ctrl.user.email" placeholder="Email"
                       type="email"/>
                <br>
                <input class="form-control form-control-sm" ng-model="ctrl.user.password" placeholder="Choose Password"
                       type="text"/>
                <br>
                <input class="form-control form-control-sm" ng-model="ctrl.user.password2"
                       ng-model-options="{ debounce: 700 }" placeholder="Re-enter Password" type="text"/>
                <p ng-if="ctrl.user.password && ctrl.user.password && ctrl.user.password2 !== ctrl.user.password">
                    Paswords don't match</p>
                <br><br>
                <button class="btn btn-primary" type="button" ng-click="ctrl.createAccount(ctrl.user)">create
                    account
                </button>
            </div>
        </form>
    </div>
</div>

