<div class="row">
    <!--<pre>{{ ctrl|json }}</pre>-->
    <!--<div class="list-view">-->


    <div class="col-xs-3 lists-list ">
        <br>
        <!--  add new list -->
        <input type="text" class="form-control form-control-sm" ng-model='ctrl.newTitle'
               placeholder="Add a new list:" ng-keyup="$event.keyCode == 13 && ctrl.addNewList({newTitle: ctrl.newTitle})" />
        <button class="btn btn-default btn-sm" ng-click="ctrl.addNewList({newTitle: ctrl.newTitle})">Add list</button>

        <!--  list of lists -->
        <!--todo: yuri: fixing dropdown button-->
        <!--todo: yuri: show scroll without reason-->
        <div ng-repeat="list in ctrl.userLists" >
            <div class="btn-group" uib-dropdown>
                    <button id="split-button" type="button" class="btn btn-info list-name-button" ng-click="ctrl.openList(list.id)">
                      {{list.title}}
                    </button>
                <button type="button" class="btn btn-info" uib-dropdown-toggle>
                    <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                    <li role="menuitem"><a ng-click="ctrl.renameList({newTitle: list.title, listId: list.id, listIndex: $index})">Rename</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a ng-click="ctrl.deleteList(list, $index)">Delete</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xs-9 curr-list" ui-view></div>
</div>
<!--</div>-->