<div>
    {{ctrl.state.currList}}<br>

    <input class="form-control form-control-sm" type="text" ng-model="ctrl.newTodo" placeholder="Add a new to-do"/>
    <button  class="btn btn-default btn-sm" ng-click="ctrl.addNewTodo(ctrl.newTodo)">Add to-do</button>

    <div ng-repeat="(todoId,todo) in ctrl.todos[ctrl.state.currList]">
        <input type="checkbox"  ng-click="ctrl.completeTodo(todoId)">
            <a ng-class="{strike: todo.completed}" ui-sref="lists.list.todo({todoId: todoId})">
            {{todo.title}} <span id="daysCount">{{todo.daysPassed}}</span></a>
    </div>
    <hr>
    <div ui-view></div>

</div>
