<div>
    {{ctrl.currList}}
    <br>

    <input type="text" ng-model='ctrl.newTodo' placeholder="Enter a new to-do" />
    <button class="btn btn-default btn-sm" ng-click="ctrl.addNewTodo(ctrl.newTodo)">Add</button>

        <div ng-if="ctrl.currList.length>0">

            <div ng-repeat="(index,todo) in ctrl.todos[ctrl.currList]">
                <input type="checkbox" ng-click="ctrl.completeTodo(index)">
                <a ng-class="{strike: todo.completed}"  ui-sref="home.list.todo({todoId: ctrl.todos[ctrl.currList][index].id})">{{todo.title}}</a>

            </div>
        </div>

    <div ui-view ></div>

</div>
<!---->

<!---->