<div class="login">
    <div class="login-main">
        <form novalidate>

            </br>
            <input class="form-control form-control-sm" ng-model="ctrl.user.email" placeholder="Email" type="email" name="uEmail" />
            <!--<button class="btn btn-primary" type="button" ng-click="ctrl.checkEmail(ctrl.email)">check</button>-->

            </br>
            <!-- todo: animate ngif  -->
            <div ng-if="ctrl.checkEmail(ctrl.user.email)">
                <hr>
                <!--Hello {{name}}-->
                <br>
                <input class="form-control form-control-sm" ng-model="ctrl.user.password" placeholder="Password" type="text"/>
                </br>
                <button class="btn btn-primary" type="button" ng-click="ctrl.checkPassword(ctrl.checkEmail(ctrl.user.email),ctrl.user.password)">Login</button>
                <br>
                <button class="btn btn-primary" type="button" ng-click="ctrl.user.email = ''">Ooops, Wrong mail</button>
            </div>

            <div ng-if="ctrl.checkEmail(ctrl.user.email) === null && ctrl.user.email.length > 9">
                <br>
                <input class="form-control form-control-sm" ng-model="ctrl.user.firstName" placeholder="First name" type="text" required=""/>
                <br>
                <input class="form-control form-control-sm" ng-model="ctrl.user.lastName" placeholder="Last name" type="text"/>
                <br>
                <input class="form-control form-control-sm" ng-model="ctrl.user.password" placeholder="Choose Password" type="text" />
                <br>
                <input class="form-control form-control-sm" ng-model="ctrl.user.password2" ng-model-options="{ debounce: 500 }" placeholder="Re-enter Password" type="text"/>
                <p ng-if="ctrl.user.password && ctrl.user.password2.length && ctrl.user.password2 !== ctrl.user.password">
                    Paswords don't match</p>
                <br><br>
                <p ng-if="ctrl.user.password2 === ctrl.user.password && ctrl.user.password.length>5">
                    <button class="btn btn-primary" type="button" ng-click="ctrl.createAccount(ctrl.user)">create
                        account
                    </button>
                </p>
            </div>
        </form>
    </div>
</div>