<div class="row">

    <!--<button ng-click="ctrl.open()">Open Modal</button>-->


    <div class="col-xs-3">
        <img alt="Logo" src="./img/logo.png" style="hight: 35px; width: 103px">
        </br>
        <!--  add new list -->
        <input class="form-control form-control-sm"
               ng-keyup="$event.keyCode == 13 && ctrl.addNewList(ctrl.newList)" type="text"
               ng-model='ctrl.newList' placeholder="Add a new list:"/>
        <button class="btn btn-default btn-sm" ng-click="ctrl.addNewList(ctrl.newList)">Add list</button>


        <div ng-repeat="(listName,value) in ctrl.todos" >
            <div class="btn-group">
                <a ui-sref="lists.list({listName})">
                    <button type="button" class="btn btn-info"> {{listName}}</button>
                </a>

                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a style="cursor: pointer" ng-click="ctrl.renameList(listName)">Rename</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a style="cursor: pointer" ng-click="ctrl.deleteList(listName)">Delete</a></li>
                </ul>

            </div>
        </div>
        <hr>

    </div>

    <div class="col-xs-9" ui-view></div>
</div>