<div>


    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Login!</h3>
    </div>

    <div class="modal-body" id="modal-body">
        <input class="form-control form-control-sm" ng-model="ctrl.email" placeholder="Email" type="text">
        </br>
        <input class="form-control form-control-sm" ng-model="ctrl.password" placeholder="Password" type="text">
        </br>

    </div>

    <div class="modal-footer">
        Not yet a User?
        <button class="btn btn-default" type="button">Sign Up</button>
        <button class="btn btn-primary" type="button" ng-click="ctrl.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">Cancel</button>
    </div>

</div>