<div class="">
    <h4><strong>{{ctrl.currList.title}}</strong></h4>
    <button class="btn btn-default btn-sm" ng-click="ctrl.addNewTodo(ctrl.newTodo)">+</button>
    <input type="text" class="form-control form-control-sm width-80" ng-model="ctrl.newTodo"
           placeholder="Add a new to-do:" ng-keyup="$event.keyCode == 13 && ctrl.addNewTodo(ctrl.newTodo)"/>
    <br><br>
    <div ng-repeat="todo in ctrl.currList.todos">
        <input type="checkbox" ng-model="todo.completed" ng-change="ctrl.completeTodo()">
        <span  class="curr-todo" ng-class="{lineThrough: todo.completed}" ng-dblclick="ctrl.editTodo(todo, $index)">{{todo.title}} </span>
    </div>
    <hr>
        <button class="btn btn-success" ng-click="ctrl.renameList({newTitle: ctrl.currList.title, listId: ctrl.currList.id, listIndex: $index})">Rename List</button>
        <button class="btn btn-danger" ng-click="ctrl.deleteList()" >Delete List</button>
    <hr>
</div>
