body {
    background-image: url("../img/1.jpg");
}
.no-padding-top{
    padding-top:0
}
.no-padding-left{
    padding-left: 0
}
.no-padding-right{
    padding-right: 0;
}
.full-height{
    height: 100%;
}
.width-80{
    width: 80%;
}

.width-40{
    width: 40%;
}

.border-radius-4{
    border-radius: 4px;
}
.lineThrough {
    text-decoration: line-through
}
.inline{
    display: inline;
}

.btn-sm{
 font-size: 15px;
}
input[type="text"] {
    margin-left: 0;
}

.lists-list {
    background-color: #f0f0f0;
}
.row {margin: 1.5em -7.5px}
[class*="col-"] {padding: 0 7.5px;}

.list-display {
    background-color: #f0f0f0;
    /*background-color: indianred;*/
    border: 2px solid lightgrey;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 9px lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

input.ng-invalid {
    background-color:pink;
}

.form-control {
    display: inline;
}

.navbar.navbar-default {
    margin: 0;
}

.paint {
    background-color: yellow;
}


.tooltip.customClass .tooltip-inner {
/*.tooltip.customClass {*/
    color: whitesmoke;
    background-color: lightslategray;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.pac-container {
    z-index: 10051 !important;
}

