<div class="nameTakenModel">
    <div class="modal-header">
        <h3 ng-if="ctrl.data.listId" class="modal-title text-center" id="modal-title"><b>Rename List</b></h3>
        <h3 ng-if="ctrl.data.listId === undefined" class="modal-title" id="modal-title"><b>Name already exist! </b></h3>
    </div>

    <form name="form">
        <div class="modal-body" id="modal-body">
            <label><input class="form-control form-control-sm width-80" type="text" name="title"
                          ng-model="ctrl.data.newTitle" placeholder="choose a new name" required></label>
            <br>
                <span ng-show="form.title.$error.required"><b>enter a new name or cancel</b></span>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-sm" ng-click="ctrl.save()"
                    ng-disabled="form.title.$dirty && form.title.$invalid"> Save </button>
            <button class="btn btn-warning btn-sm" type="button" ng-click="ctrl.cancel()">Cancel</button>
        </div>
    </form>
</div>